extends ../layouts/dashboard.pug
block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = '실시간 코로나 알림판';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'
    
append css
    link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css', rel='stylesheet', crossorigin='anonymous')

block content
    .container-fluid
        include includes/page-header.pug
        html(lang="ko")
                         head
                            body
                                 h5 업데이트 시간 2020-12-09 00:00
        .row
            .col-xl-3.col-md-6
                .card.bg-primary.text-white.mb-4
                    .card-body
                        html(lang="ko")
                         head
                            body
                                h2 국내 확진환자
                                 h3 국내 누적 확진환자 39,432명 
                                 h4 전일대비 686명 증가
                                //-    script. 
                                //-     function getTime(){
                                //-         const time = new Date();
                                //-         const h = time.getHours();
                                //-         const min = time.getMinutes();
                                //-         const sec = time.getSeconds();
                                //-         document.getElementByld("Times").innerHTML = h+":"+min+":"+sec;
                                //-         //clock.innerHTML = hour +":" + minutes + ":"+seconds;
                                //-         //clock.innerHTML = `${hour<10 ? `0${hour}`:hour}:${minutes<10 ? `0${minutes}`:minutes}:${seconds<10 ? `0${seconds}`:seconds}`
                                //-         console.log(h+':'+min+':'+sec);
                                //-     }


                                //-     function init(){
                                //-         setInterval(getTime, 1000);
                                //-     }

                                //-     init();

                       

                    .card-footer.d-flex.align-items-center.justify-content-between
                        a(href="javascript:alert('본선 때 기대해주세요!');" onfocus='this.blur()').small.text-white.stretched-link
                            | 자세히 확인하기
                        .small.text-white
                            i.fas.fa-angle-right

            .col-xl-3.col-md-6
                .card.bg-warning.text-white.mb-4
                    .card-body
                        html(lang="ko")
                         head
                            body
                                h2 세계 확진환자
                                 h3 세계 누적 확진환자 67,591,869명 
                                 h4 전일대비 517,565명 증가
                                 h4 발생국가수: 221개국
                        
                    .card-footer.d-flex.align-items-center.justify-content-between
                        a(href="javascript:alert('본선 때 기대해주세요!');" onfocus='this.blur()').small.text-white.stretched-link
                            | 자세히 확인하기
                        .small.text-white
                            i.fas.fa-angle-right

            .col-xl-3.col-md-6
                .card.bg-success.text-white.mb-4
                    .card-body
                      html(lang="ko")
                         head
                            body
                                h2 국내 검사중 환자
                                 h3 75,080명 
                                 h4 전일대비 3,806명 증가

                    .card-footer.d-flex.align-items-center.justify-content-between
                        a(href="javascript:alert('본선 때 기대해주세요!!');" onfocus='this.blur()').small.text-white.stretched-link
                            | 자세히 확인하기
                        .small.text-white
                            i.fas.fa-angle-right


            .col-xl-3.col-md-6
                .card.bg-danger.text-white.mb-4
                    .card-body
                     html(lang="ko")
                         head
                            body
                                h2 사망환자
                                 h3 국내: 556명 
                                 h4 4명 증가
                                 h30 ㅤㅤㅤㅤㅤㅤ
                                 h3 세계: 1,544,535명 
                                 h4 8,478명 증가

                    .card-footer.d-flex.align-items-center.justify-content-between
                        a(href="javascript:alert('본선 때 기대해주세요!');" onfocus='this.blur()').small.text-white.stretched-link
                            | 자세히 확인하기
                        .small.text-white
                            i.fas.fa-angle-right
        .row

            //- .col-xl-6
            //-     .card.mb-4
            //-         .card-header
            //-             i.fas.fa-chart-area.mr-1
            //-             | Area Chart Example
            //-         .card-body
            //-             canvas#myAreaChart(width='100%', height='40')
                    
            //- .col-xl-6
            //-     .card.mb-4
            //-         .card-header
            //-             i.fas.fa-chart-bar.mr-1
            //-             | Bar Chart Example
            //-         .card-body
            //-             canvas#myBarChart(width='100%', height='40')
        
        .card.mb-4
            #insertDate.card-header
                i.fas.fa-table.mr-1
                | 세계 코로나 현황
            .card-body
                include includes/datatable.pug


append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js', crossorigin='anonymous')
    script(src='assets/demo/chart-area-demo.js')
    script(src='assets/demo/chart-bar-demo.js')
    script(src='js/index.js')
    
    script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js', crossorigin='anonymous')
    script(src='assets/demo/datatables-demo.js')
